.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $primary;
  font-size: 11px;
  z-index: 10;
    a {
        display: inline-block;
        margin: 13px;
        font-size: 11px;
        color: $blue;

        &.is-active,
        &:hover, &:active, &:focus {
            border-color: $blue;
        }
    }

    span {
        display: inline-block;
        padding: 13px;
        float: right;
    }

    @include media-breakpoint-up(md) { 

        font-size: 12px;

        a {
            font-size: 12px;
        }
    }

}


